@charset "utf-8";
/* CSS Document */
body > table{
	width: 100%
}
table{
	border-collapse: collapse;
}
table.list{
	width: 100%
}
td, th {
	border: 1px solid #DDDDDD;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even),table.list thead>tr{
	background-color: #DDDDDD;
}
input[type=text], input[type=email]{
	width: 85%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}
input[type=submit]{
	width: 30%;
	border-color: #DDDDDD;
	color: #000000;
	padding: 14px 20px;
	margin: 8px 0px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
lable.validation-error{
	color: red;
	margin-left: 5px;
	
}
a{
	cursor: pointer;
	text-decoration: underline;
	color: #0000ee;
	margin-left: 4px
}
form div.form-action-button{
	text-align: right;
}